header {
 
}
footer {

  text-align: center;
  color: rgba(202, 255, 89, 0.499);
  font-family: 'Trebuchet MS', sans-serif ;
  font-size: 20px;
  margin-top: 30px;

}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container{
  min-width: 1200px;
}
.container-cards{
  display: grid
  ;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
}
.flex {
  display: flex;
}
.space-around {
  justify-content: space-around;
}
.card {
  flex-direction: column;
  color: rgb(202, 255, 89);
  font-family: 'Trebuchet MS', sans-serif ;
  font-size: 20px;
  margin: 10px, 0px, 10px, 0px;
 
}

h1 {
  justify-content: center;
  flex-direction: column;
  color: rgb(202, 255, 89);
  font-family: 'Trebuchet MS', sans-serif ;
  font-size: 50px;
  margin: 10px, 0px, 10px, 0px;

}